body
{
    background-color: Lavender;
}

.panel
{
    background-color: Snow;
    margin-bottom: 1em;
    padding-left: 1em;
    border-width: 1px;
    border-style: solid;
    border-radius: 1em;
}

.hidden
{
    display: none;
    font-style: italic;
}

h1, h2, h3, h4
{
    display: inline-block;
}

.status
{
    height: 0.75em;
    width: 0.75em;
    background-color: red;
    display: inline-block;
}

.status.good
{
    background-color: green;
}

input
{
    margin-top: 1em;
    margin-bottom: 1em;
}

input[type="number"]
{
    width: 4em;
    margin-right: 0.25em;
}

input:read-only
{
    background-color: LightGrey;
}

label
{
    margin-right: 1em;
}

img
{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

.no-wrap
{
    white-space: nowrap;
}